body{
    padding: 100px;
}
td,th, table{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
  padding: 30px;
}
thead {
    background-color: grey;
}
.bgclrRow{
    background-color: grey;
}